# Ignore log files
*.log

# Ignore Python cache
__pycache__/

# Ignore virtual environment
venv/

# Ignore macOS system files
.DS_Store
Nlx2Mat/.DS_Store

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore temp .m files:
*.asv

scripts/Rasters*.pdf

batch/runbatch_spikeSorting_*.sh
batch/runbatch_extractLFP_*.sh
batch/jobs_*

*/Patient-*.json
scripts/*.csv
scripts/*.png
scripts/*.jpg
scripts/*.mat

test/Screening/572_Screening/Experiment-2/LFP_micro/*
test/Screening/572_Screening/Experiment-2/LFP_macro/
test/Screening/572_Screening/Experiment-2/*/*_log.txt
test/Screening/572_Screening/Experiment-2/*/temp_*.mat

.idea/*

*.cfg
*montage_*.json

batch/sedDLFclD

*_old.m
