# Ignore log files
*.log

# Ignore Python cache
__pycache__/

# Ignore virtual environment
venv/

# Ignore macOS system files
.DS_Store

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore temp .m files:
*.asv

scripts/Rasters*.pdf

batch/runbatch_spikeSorting_*.sh
batch/runbatch_extractLFP_*.sh

*/Patient-*.json
scripts/*.csv

.idea/*

config_*.cfg
montage_*.json
