test/* export-ignore
test/data/lfpTimeStamps_macro_exp001.mat filter=lfs diff=lfs merge=lfs -text
test/data/lfpTimeStamps_macro_exp002.mat filter=lfs diff=lfs merge=lfs -text
test/data/lfpTimeStamps_macro_seg004.mat filter=lfs diff=lfs merge=lfs -text
test/data/lfpTimeStamps_macro_seg005.mat filter=lfs diff=lfs merge=lfs -text
test/data/*.mat filter=lfs diff=lfs merge=lfs -text
