# Ignore log files
*.log

# Ignore Python cache
__pycache__/

# Ignore virtual environment
venv/

# Ignore macOS system files
.DS_Store
Nlx2Mat/.DS_Store

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore temp .m files:
*.asv

scripts/Rasters*.pdf

*/unpackConfigs/*
*/Patient-*.json
Patient-*_Exp-*.json
scripts/*.csv
scripts/*.png
scripts/*.jpg
scripts/*.mat

.idea/*


batch/sedDLFclD

*_old.m

test/neuralynx/CSC_micro_spikes/*.mat
test/neuralynx/CSC_micro_spikes/*.txt
test/neuralynx/LFP_micro/*.png
test/neuralynx/nwb/*_tmp.nwb

notebooks/*.nwb

test/wave_clus/*_spikes.matspc_log.txt
test/wave_clus/fig2print_manual_*_wave_clus_figure.jpg

test/neuralynx/lfpTimestamps.mat
test/neuralynx/LFP_macro/
test/neuralynx/LFP_micro/

montageConfig/configFiles/
